.marker .map-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  transition: transform 0.2s ease, filter 0.2s ease;
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.4));
}

.marker:hover .map-icon {
  transform: scale(1.2);
  filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.6));
}
