body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #282a2b;
    color: white;
}

.map-container {
    height: 90vh;
    margin-left: 50px;
    animation: fadeIn 0.8s ease-in-out;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5))
}

#map {
    height: 90vh;
    width: 700px;
    border-radius: 8px;
}


@keyframes fadeIn {
    0%  {
    transform: translateX(-20px);
    opacity: 0;
    }
    100%  {
    transform: translateX(0);
    opacity: 100;
    }
}

.search-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search {
  display: flex;
  align-items: center;
  gap: 8px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 8px 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.search .material-symbols-outlined {
  font-size: 20px;
  color: #555;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 6px 8px;
}

.search button {
  padding: 6px 12px;
  border: 1px solid #111;
  border-radius: 8px;
  background: #111;
  color: #fff;
  cursor: pointer;
}