body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #282a2b;
    color: white;
    font-family: 'Inter', sans-serif;
}

.map-container {
    height: 90vh;
    margin-left: 50px;
    animation: fadeIn 0.8s ease-in-out;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5))
}

#map {
    height: 90vh;
    width: 700px;
    border-radius: 8px;
}


@keyframes fadeIn {
    0%  {
    transform: translateX(-20px);
    opacity: 0;
    }
    100%  {
    transform: translateX(0);
    opacity: 100;
    }
}

.search-panel {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search {
  position: fixed;
  top: 60px;
  left: 50%;

  display: flex;
  align-items: center;
  gap: 8px;

  background: #ffffff;
  border-radius: 30px;
  padding: 8px 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  width: 600px;

  transition: background 0.25s;
}

.search:focus-within {
  background: #e6e5e5;

}

.search .material-symbols-outlined {
  font-size: 25px;
  color: #555;
}

.search input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  font-size: 16px;
  padding: 6px 8px;
}

.search button {
  padding: 6px 12px;
  border: 1px solid #4f4b4b;
  border-radius: 20px;
  background: #4f4b4b;
  color: #fff;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
}

.searchBar button:hover {
  background: #ff5722;
  transform: scale(1.15);
  font-weight: 600;
}

#searchBar button:active {
  transform: scale(1.07);
}