body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #282a2b;
    color: white;
}

.map-container {
    height: 90vh;
    margin-left: 50px;
    animation: fadeIn 0.8s ease-in-out;
    filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.5))
}

#map {
    height: 90vh;
    width: 700px;
    border-radius: 8px;
}


@keyframes fadeIn {
    0%  {
    transform: translateX(-20px);
    opacity: 0;
    }
    100%  {
    transform: translateX(0);
    opacity: 100;
    }
}