html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.search-bar {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.search-input {
    padding: 10px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}
/* Drawer panel */
.restaurant-drawer {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 350px;
  background: white;
  padding: 20px;
  box-shadow: 2px 0 8px rgba(0,0,0,0.25);
  transform: translateX(-100%);
  transition: transform 0.25s ease;
  z-index: 900;
}

.restaurant-drawer.open {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .restaurant-drawer {
    width: 100%;
    height: 60%;
    bottom: 0;
    top: auto;
    left: 0;
    right: 0;
    transform: translateY(100%);
  }
  .restaurant-drawer.open {
    transform: translateY(0);
  }
}
